.container {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  width: 100%;

  input {
    background: none;
    border: none;
    height: 40px;
    display: block;
    font-size: 18px;
    flex: 1;
    cursor: text;
    padding: 0;
    border-bottom: 1px solid transparent;

    &:focus {
      border-color: var(--grayDarken);
    }

    &::placeholder {
      color: var(--grayDarken);
      font-size: inherit;
    }
  }
}
