@import 'normalize.css';
@import './variables.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  color: var(--txt);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow-x: hidden;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  outline: none;
}

a {
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.8;
}

.noscroll {
  overflow: hidden;
}
